* {
  margin: 0;
  padding: 0;
  cursor: default;
}

html, body {

  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: auto;
  color: #fff;
  background: #ededed;
}

li,
ul {
  list-style: none;
  text-align: left;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  padding: 0;
  border: none;
  background: rgba(0, 0, 0, 0);
  box-shadow: none;
  cursor: pointer;
}
select {
  -moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}


button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}

address {
  text-decoration: none;
  font-style: normal;
  text-transform: capitalize;
}

a {
  text-decoration: none;
  font-style: normal;
  outline: none;
  cursor: pointer;
  color: #1e1e1e;
}
