/*** HEADER ***/
.header {
  width: 100%;
  height: 100px;
  background: #000;
}

/*** NAV ***/
.nav {
  width: 200px;
  height: 708px;
  padding: 10px;
  background: #111;
  
  h3 {
    padding-bottom: 10px;
  }

  .menuList {
    display: block;
    padding: 5px 0 5px 0;
    font-size: 16px;
    color: #fff;
  }
}

/*** CONTAINER ***/
.container {
  display: flex;
}

/* TABLE */
.tableBody {
  width: 100%;
  height: 100%;
  color: #000;
}

.tableList {
  padding: 10px;
}

/*** FOOTER ***/
.footer {
  width: 100%;
  height: 100px;
  background: #222;
  clear: both;
}